body{
    background-color: #161616;
}
.box{
    background-color: white;
    border: 5px solid rgb(8, 8, 163);
    min-width: 250px;
    min-height: 200px;
    max-width: 250px;
    cursor: pointer;
   
}
.box:hover{
    border: 5px solid rgb(36, 127, 245);
}
.pname{
    border-top: 5px solid blue;
    min-height: 70px;
    text-align: center;
    padding-top: 20px;
    font-family: Bebas Neue;
    font-size: 1.5rem;
}
.pim{
    min-height: 130px;
    
}
.bim{
    max-width: 880px;
    height: auto;
}
.fs{
    left:0;
    right:0;
    border-bottom:5px solid rgb(4, 64, 230);
    font-size: 2rem;
    color: white;
    margin-bottom: 25px;
    background-color: rgb(38, 0, 255);
    font-family: Lemon;
    text-align: center;
}

footer{

    background-color: #111;
    bottom: 0;
    left: 0;
    padding: 5px;
    position: fixed;
    width: 100%;

}
.container{
    margin-bottom:10px;
}

.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2rem;
    color: black;
    opacity: 0.9;
}

.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
    
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.pim img{
    width: 240px;
    height: 130px;
}
.container a{
    text-decoration: none;
    color: black;
}
